.main {
    width: 1190px;
    margin-top: 30px;
}

.list {
    width: 750px;
    padding: 10px;
    background-color: lightgreen;
    float:left;
}

.list-header {
    padding-bottom: 8px;
    font-size: 1.1em;
    font-weight: bold;
}

.list-row {
    padding: 5px 0px 5px 0px;
}

.list-left {
    width: 150px;
    float: left;
}

.list-center {
    width: 300px;
    float: left;
}

.list-right {
    width: 300px;
    clear: left;
}

.list-footer {
    margin-top: 20px;
    clear: both;
}

.left {
    float: left;
}

.details {
    width: 400px;
    padding: 10px;
    background-color: lightgreen;
    float: right;
}

.details-left {
    padding-right: 8px;
    font-weight: bold;
    float: left;
}

.details-right {
}

.details-footer {
    padding-top: 10px;
}

label {
    font-weight: bold;
}
